/* SEARCH BAR */

form.formBar input[type=search] {
  padding:        10px%;
  font-size:      17px;
  border:         1px solid grey;
  float:          left;
  width:          80%;
  background:     #f1f1f1
}
form.formBar button {
  float:          left;
  width:          20%;
  background:     #000;
  color:          #fff;
  font-size:      17px;
  border:         1px solid #fff;
  cursor:         pointer;
}
form.formBar button:hover {
  background:     #0b7dda;
}
form.formBar::after {
  content:      "";
  clear:        both;
  display:      table;
}
